<%= form_for @user, url: @user.persisted? ? users_edit_path : users_new_path do |f| %>

    Nome: <%= f.text_field :name %><br />
    
    Email: <%= f.text_field :email %><br />
    
    Senha: <%= f.password_field :password %><br />
    
    Confirmação de Senha: <%= f.password_field :password_confirmation %><br />
    
    <%= f.submit "Enviar" %>
  
<% end %>
