<!DOCTYPE html>
<html>
  <head>
    <title>Projeto01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Usuários', users_path %>
    <%= link_to 'Novo Usuário', users_new_path%>
    <% if logged_in? %>
      <p>Você está logado <%= current_user.name %><%= link_to "Logout", logout_path, method: :delete %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
